/* CSS declarations go here */
body {
    margin: 0;
    padding: 0;
}

.game-options .size-helper {
    margin-top: 50px;
}

#hit-area {
    display: none;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(1,1,1,0.01);
}