<template name="private">
    {{>gameViewPrivate}}
    {{>homeViewPrivate}}
</template>

<template name="homeViewPrivate">
    <div id="home-view">
        <h1>Welcome to PRIZM!</h1>
        {{#if userLoggedIn}}

        {{#if activeGame}}

        {{else}}

        {{/if}}

        {{name}}
        <img src="{{avatar}}" height="200" width="200"/>
        <button class="sign-out">Sign out</button>
        <hr/>

        {{#if userChoseLobby}}
        <button class="leave-lobby">Leave {{currentLobby}}</button>
        {{>arenaConfiguration}}
        {{else}}
        {{>lobbySelection}}
        {{/if}}



        {{else}}
        {{>loginUi}}
        {{/if}}

    </div>
</template>

<template name="gameViewPrivate">

    <div id="context2D-main"></div>
    <div id="hit-area"></div>

</template>

<template name="lobbySelection">
    Select a lobby:

    {{#each lobbies}}

    <button class="select-lobby">{{title}}</button>

    {{/each}}

</template>

<template name="arenaConfiguration">

    <hr/>
    {{#each arenas}}
        <button class="join-arena">Join {{title}}</button>
    {{/each}}

    {{#if currentArena}}

        <hr/>

        {{#with currentArena}}
        Current arena: {{title}}
        {{/with}}
        <hr/>

        Choose a game:
        {{#each games}}
            <button class="select-game">{{title}}</button>
        {{/each}}

        {{#if gameChosen }}

            {{#with gameContext}}
            <h1>{{title}}</h1>
            <p>{{ageRestriction}}</p>
            <p>{{description}}</p>
            {{/with}}

            {{>gameOptions}}

        {{/if}}

    {{/if}}

</template>

<template name="gameOptions">

    <hr/>
    <div class="game-options">
        Set number of players:
        {{#each requiredPlayerOptions}}
        <button class="set-player-count">{{value}}</button>
        {{/each}}

        <h1>Before you START, <br/>
            Hide browser navigation bars by scrolling all the way to bottom
            </h1>

        <button class="game-enter">Start</button>
        <button class="game-exit">Cancel</button>

        <div class="size-helper">
            <h1>OK, You're ready to play!</h1>
        </div>
    </div>


</template>


<template name="arenaActive">


</template>