<template name="public">
    public

    {{#if activeGame}}

    {{>gameView}}

    {{else}}

    {{#each lobbies}}
    <button class="register-lobby">{{title}}</button>
    {{/each}}
    {{#each arenas}}
    <br/>

    <button class="register-arena">{{title}}</button>
    {{#if client_id}}
    Linked client: {{client_id}}
    {{/if}}
    {{/each}}

    {{>lobby currentLobby}}

    {{#each arenas}}
    {{>arenaSettings}}
    {{/each}}

    {{/if}}
</template>

<template name="gameView">

    <div id="context2D-main"></div>
    <div id="hit-area"></div>

</template>

<template name="lobby">
    <hr/>

    {{title}}

    <h1>In lobby:</h1>
    <ul>
        {{#each usersInLobby }}
        {{profile.name}}

        <img src="{{profile.avatar}}" height="200" width="200"/>
        {{/each}}
    </ul>
</template>

<template name="arenaSettings">

    <hr/>
    {{title}}

    {{#with playerStatus this}}
        Players:
        {{current}} / {{required}}
        <br/>
        Ready:
        {{ready}} / {{required}}
    {{/with}}

    <hr/>
    {{#with chosenGame game_id}}

        {{title}}
        {{description}}

    {{/with}}
    <hr/>
    {{#each usersInArena _id}}
    {{profile.name}}

    <img src="{{profile.avatar}}" height="200" width="200"/>
    {{/each}}
</template>